* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

html {
    font-size: 67.5%;
}

body {
    font-size: 1.6rem;
    font-family: $sans;
}

.inner {
    width: 100%;
    max-width: $mainWidth;
    margin-left: auto;
    margin-right: auto;
}

.button {
    border-radius: $largeBorderRadius;
    background-color: $yellow;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
    &:hover {
        background-color: lighten($yellow, 5);
    }
    &.button-grey {
        background-color: $grey;
        &:hover {
            background-color: lighten($grey, 5);
        }
    }
    &[disabled] {
        background-color: lightGrey;
        cursor: initial;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 450;
    background-color: rgba($lightBlack, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog {
    max-width: 20%;
    position: relative;
    padding: 40px;
    background-color: white;
    border-radius: $largeBorderRadius;
    border: solid 1px $borderGrey;
    .fa-exclamation {
        position: absolute;
        top: -15px;
        left: -15px;
        font-size: 23px;
        color: white;
        background-color: $red;
        width: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        display: flex;
        height: 35px;
    }
    &.account-edit-dialog {
        max-width: 75%;
    }
}
