* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 67.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", arial, sans-serif;
}

.inner {
    width: 100%;
    max-width: $mainWidth;
    margin-left: auto;
    margin-right: auto;
}
