* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

html {
    font-size: 67.5%;
}

body {
    font-size: 1.6rem;
    font-family: $sans;
}

.inner {
    width: 100%;
    max-width: $mainWidth;
    margin-left: auto;
    margin-right: auto;
}

.button {
    border-radius: $largeBorderRadius;
    background-color: $yellow;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
    &:hover {
        background-color: lighten($yellow, 5);
    }
}
