.contest {
    border-radius: $largeBorderRadius;
    background-color: $lightGrey;
    margin-top: $mainGutter;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contest-date {
    font-family: $serif;
    font-weight: 700;
    font-size: 20px;
    color: $lightBlack;
    margin-bottom: 1.5rem;
}

.contest-photo {
    width: 97%;
    border-radius: $largeBorderRadius;
}

.more-entries-btn-cont {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .fa-chevron-down {
        color: $grey;
        transition: all 0.2s;
    }
    &:hover {
        .fa-chevron-down {
            transform: translateY(3px);
            color: $darkGrey;
        }
    }
}

.more-entries-btn {
    margin-bottom: 1px;
}

.follow-btn {
    position: relative;
    top: -35px;
    right: 25px;
    align-self: flex-end;
    font-size: 12px;
    font-weight: 600;
    color: $lightBlack;
    .far {
        font-size: 20px;
    }
    > * {
        vertical-align: middle;
        cursor: pointer;
    }
    &:hover {
        * {
            color: $black;
        }
    }
}

.entry-input-cont {
    width: 100%;
}

.entry-input {
    border-top: solid 1px white;
    padding-top: 2.2rem;
    width: 94%;
    margin: 0 auto;
    position: relative;
    textarea {
        width: 100%;
        border-color: $borderGrey;
        border-radius: $largeBorderRadius;
        padding: 15px;
        font-family: $serif;
        font-size: 18px;
        color: #3c3c3c;
        line-height: 1.4;
        resize: none;
        min-height: 100px;
        overflow: hidden;
        &::placeholder {
            color: $grey;
        }
    }
    .button {
        float: right;
        &.button-edit-cancel {
            margin-right: 5px;
        }
    }
    &.entry-input-hidden {
        display: none;
    }
}

.overlay {
    .entry-input {
        width: 40%;
        border: none;
    }
}

.entry-msg-cont {
    border-top: solid 1px white;
    padding-top: 2.2rem;
    text-align: center;
    &.entry-msg-hidden {
        display: none;
    }
}

.entry-msg {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    color: $green;
    padding: 4px 11px;
    border: solid 1px $green;
    border-radius: 50px;
    margin-bottom: 20px;
}

.character-alert {
    position: absolute;
    font-size: 14px;
    color: red;
}

.entry-sorter {
    border-radius: $largeBorderRadius;
    background-color: $lightGrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem 1rem 0;
    align-self: flex-end;
    label,
    p {
        font-size: 12px;
        font-weight: 800;
        color: $lightBlack;
    }
}

.entry-sort-radios,
.entry-sort-checkbox {
    display: flex;
    align-items: center;
    input {
        margin-right: 9px;
        visibility: hidden;
        margin-left: 20px;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        &:before {
            content: "";
            visibility: visible;
            display: inline-block;
            height: 13px;
            width: 13px;
            border-radius: 18px;
            background: white;
            border: solid 2px white;
            margin-top: -3px;
            box-shadow: 0 0 0 1px $green;
        }
        &:checked:before {
            background: $green;
        }
    }
}

.entry-sort-checkbox {
    input {
        &:before {
            border-radius: 0;
        }
    }
}
