.main-header {
    background-color: $black;
    height: auto;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 500;
}

.header-content {
    display: flex;
    color: white;
    padding: 11px 0;
    justify-content: space-between;
    align-items: center;
}

.user-alerts {
    .fa-bell {
        font-size: 20px;
        margin-left: 13px;
        &.fas {
            color: $yellow;
        }
        &.far {
            color: $darkGrey;
        }
    }
}

.auth {
    display: flex;
    align-items: center;
    position: relative;
}

.auth-yes {
    .fa-chevron-down {
        color: $darkGrey;
        margin-right: 10px;
        transition: transform 0.2s;
        cursor: pointer;
        &:hover {
            color: $lightGrey;
        }
        &.user-menu-open {
            transform: rotate(180deg);
            color: $lightGrey;
        }
    }
}

.user-menu {
    position: absolute;
    top: 100%;
    left: -35%;
    margin-top: 12px;
    padding: 5px 0;
    border: solid 1px $lightGrey;
    background-color: white;
    border-radius: $smallBorderRadius;
    ul {
        list-style-type: none;
        white-space: nowrap;
    }
    a {
        display: block;
        color: $lightBlack;
        font-size: 14px;
        text-decoration: none;
        padding: 8px 25px;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: $green;
        }
    }
    &.active {
        display: block;
    }
    .far,
    .fas {
        font-size: 18px;
        margin-right: 3px;
        vertical-align: text-top;
    }
    &:before {
        content: "";
        position: absolute;
        top: -7px;
        right: 42px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
    }
}

.logo-container {
    display: flex;
    cursor: pointer;
    h1 {
        font-size: 13px;
        font-weight: 200;
        font-family: "Bitter", Times, serif;
        align-self: flex-end;
        margin-left: 10px;
        color: #eeeeee;
        font-style: italic;
    }
}

.header-links {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    a {
        color: $yellow;
        cursor: pointer;
    }
}

.register-modal {
    font-size: 14px;
    .dialog {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 20px 40px 30px 40px;
    }
    h3 {
        font-family: $serif;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    label {
        color: $green;
        font-weight: 600;
    }
    input {
        font-size: 14px;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}

.register-error {
    color: red;
    font-weight: 400;
    padding-bottom: 10px;
}
