.main-header {
    background-color: $black;
    height: auto;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 400;
    @include breakpoint(large) {
        position: relative;
    }
}

.header-contact {
    top: 20px;
    position: absolute;
    right: 20px;
    color: $lightBlack;
    .fa-envelope {
        cursor: pointer;
        color: $darkGrey;
        font-size: 20px;
        &:hover {
            color: $lightGrey;
        }
    }
    .dialog {
        max-width: 50%;
        @include breakpoint(medium) {
            max-width: 75%;
        }
        @include breakpoint(tiny) {
            max-width: 90%;
        }
    }
}

.header-content {
    display: flex;
    color: white;
    padding: 11px 15px;
    justify-content: space-between;
    align-items: flex-end;
    @include breakpoint(large) {
        flex-direction: column;
        align-items: center;
    }
}

.header-auth {
    @include breakpoint(small) {
        width: 65%;
    }
    @include breakpoint(tiny) {
        width: 100%;
    }
}

.user-alerts {
    .fa-bell {
        font-size: 20px;
        margin-left: 13px;
        &.fas {
            color: $yellow;
        }
        &.far {
            color: $darkGrey;
        }
    }
}

.auth {
    display: flex;
    align-items: center;
    position: relative;
    @include breakpoint(large) {
        margin: 15px 0 5px 0;
    }
}

.auth-yes {
    .fa-chevron-down {
        color: $darkGrey;
        margin-right: 10px;
        transition: transform 0.2s;
        cursor: pointer;
        &:hover {
            color: $lightGrey;
        }
        &.user-menu-open {
            transform: rotate(180deg);
            color: $lightGrey;
        }
        @include breakpoint(small) {
            margin-right: 20px;
        }
    }
    @include breakpoint(small) {
        justify-content: center;
    }
}

.auth-no {
    form {
        display: flex;
        position: relative;
    }
    input[type="text"],
    input[type="password"] {
        border: none;
        padding: 5px;
        border: solid 1px $yellow;
        margin-right: 10px;
        @include breakpoint(small) {
            margin: 5px 0;
            width: 100%;
        }
    }
    input[type="submit"] {
        border: none;
        background-color: $yellow;
        color: white;
        padding: 0 10px;
        margin-right: 20px;
        cursor: pointer;
        transition: all 0.2s;
        font-weight: 600;
        &:hover {
            background-color: lighten($yellow, 5);
        }
        @include breakpoint(small) {
            margin: 5px 0;
            width: 50%;
            height: 30px;
        }
    }
    > div {
        @include breakpoint(small) {
            width: 100%;
        }
    }
    @include breakpoint(small) {
        flex-direction: column;
    }
}

.auth-message {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 175%;
    right: -180px;
    padding: 5px 10px;
    z-index: 400;
    white-space: normal;
    word-break: normal;
    text-align: right;
    border: solid 1px $red;
    background-color: white;
    border-radius: 4px;
    color: $red;
    font-size: 14px;
    transition: all 0.2s;
    &.visible {
        visibility: visible;
        opacity: 1;
    }
    @include breakpoint(large) {
        top: 185%;
        right: 0;
    }
}

.user-menu {
    position: absolute;
    top: 100%;
    left: -35%;
    margin-top: 12px;
    padding: 5px 0;
    border: solid 1px $lightGrey;
    background-color: white;
    border-radius: $smallBorderRadius;
    ul {
        list-style-type: none;
        white-space: nowrap;
    }
    a {
        display: block;
        color: $lightBlack;
        font-size: 14px;
        text-decoration: none;
        padding: 8px 25px;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: $green;
        }
    }
    &.active {
        display: block;
    }
    .far,
    .fas {
        font-size: 18px;
        margin-right: 3px;
        vertical-align: text-top;
    }
    &:before {
        content: "";
        position: absolute;
        top: -7px;
        right: 42px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
    }
    @include breakpoint(small) {
        left: auto;
    }
}

.logo-container {
    display: flex;
    cursor: pointer;
    h1 {
        font-size: 13px;
        font-weight: 200;
        font-family: "Bitter", Times, serif;
        align-self: flex-end;
        margin-left: 10px;
        color: #eeeeee;
        font-style: italic;
        @include breakpoint(medium) {
            margin: 6px 0 0 0;
        }
    }
    @include breakpoint(medium) {
        flex-direction: column;
    }
}

.header-links {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    a {
        color: $yellow;
        cursor: pointer;
    }
    > span {
        > br {
            @include breakpoint(small) {
                display: none;
            }
        }
    }
}

.login-form {
    @include breakpoint(small) {
        flex-direction: column;
        align-items: center;
    }
}

.register-modal {
    &.overlay {
        @include breakpoint(large) {
            position: absolute;
            bottom: auto;
            padding: 40px 0;
            min-height: 100vh;
        }
    }
}

.register-modal,
.forgot-password-modal {
    font-size: 14px;
    .dialog {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        @include breakpoint(medium) {
            max-width: 75%;
            width: 75%;
        }
        @include breakpoint(tiny) {
            max-width: 90%;
            width: 90%;
            padding: 20px 10px;
        }
    }
    h3 {
        font-family: $serif;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $lightBlack;
    }
    label {
        color: $green;
        font-weight: 600;
    }
    input {
        font-size: 14px;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}

.register-error {
    color: red;
    font-weight: 400;
    padding-bottom: 10px;
}

.register-buttons,
.forgot-password-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    .button {
        margin: 5px;
    }
}

.forgot-password-link {
    color: $yellow;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: -5px;
    float: right;
    padding-right: 90px;
    @include breakpoint(small) {
        padding: 15px 0 25px 0;
        float: none;
        text-align: center;
    }
}

.forgot-password-confirm {
    color: $green;
    font-size: 16px;
    text-align: center;
}

.confirm-dialog {
    align-items: center;
}
