.main-container {
    display: flex;
    align-items: flex-start;
}

.main {
    flex: 3;
}

.contest-sorter {
    border-radius: $largeBorderRadius;
    background-color: $lightGrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    label {
        font-size: 12px;
        font-weight: 800;
        color: $lightBlack;
    }
}

.contest-sort-radios,
.contest-sort-checkbox {
    display: flex;
    align-items: center;
    input {
        margin-right: 9px;
        visibility: hidden;
        margin-left: 20px;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        &:before {
            content: "";
            visibility: visible;
            display: inline-block;
            height: 13px;
            width: 13px;
            border-radius: 18px;
            background: white;
            border: solid 2px white;
            margin-top: -3px;
            box-shadow: 0 0 0 1px $green;
        }
        &:checked:before {
            background: $green;
        }
    }
}

.contest-sort-checkbox {
    input {
        &:before {
            border-radius: 0;
        }
    }
}
