.profile-content,
.account-content {
    @extend .contest;
    margin-top: 0;
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $green;
        }
    }

    .home-link {
        position: absolute;
        top: -18px;
        left: 0;
        font-size: 14px;
        color: $grey;
        cursor: pointer;
        .fa-arrow-left {
            font-size: 12px;
            margin-right: 3px;
            cursor: pointer;
        }
    }
    .fa-pencil-alt,
    .fa-plus {
        cursor: pointer;
        font-size: 14px;
        color: grey;
        &:hover {
            color: $green;
        }
    }
    .edit-confirm-buttons {
        margin-top: 10px;
    }
}

.profile-content,
.account-edit-dialog {
    .fab {
        font-size: 22px;
        padding: 0 8px;
    }
    .fa-facebook-square {
        color: #3b5998;
    }
    .fa-twitter-square {
        color: #1da1f2;
    }
    .fa-instagram {
        color: #c32aa3;
    }
    .fa-pinterest-square {
        color: #bd081c;
    }
    .fa-linkedin {
        color: #007bb5;
    }
    .fa-youtube {
        color: #ff0000;
    }
}

.account-edit-dialog {
    padding-bottom: 20px;
}

.account-edit-form {
    text-align: right;
    font-size: 16px;
    input {
        padding: 5px;
        border: solid 1px #eac813;
        margin-bottom: 5px;
        font-size: 16px;
    }
}

.account-edit-error {
    text-align: center;
    color: red;
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
}

.profile-header {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(white, $lightGrey);
    border-radius: $largeBorderRadius;
}

.profile-photo {
    width: 125px;
    height: 125px;
    img {
        border-radius: 300px;
        width: 100%;
        height: 100%;
    }
    &.account-photo {
        display: flex;
        align-items: center;
    }
}

.profile-username {
    font-weight: 600;
    margin-top: 5px;
}

.profile-stats-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    @include breakpoint(small) {
        flex-wrap: wrap;
    }
}

.profile-stat-number {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    font-size: 26px;
    line-height: 1;
    margin-top: 5px;
    color: $lightBlack;
}

.profile-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    text-align: center;
    p {
        font-size: 16px;
        line-height: 1.1;
        color: $black;
    }
    &:first-child {
        .profile-stat-number {
            border: solid 5px $yellow;
            color: darken($yellow, 10);
        }
    }
    &:nth-child(2) {
        .profile-stat-number {
            border: solid 5px #ddc716;
            color: darken(#ddc716, 10);
        }
    }
    &:nth-child(3) {
        .profile-stat-number {
            border: solid 5px #cac61a;
            color: darken(#cac61a, 10);
        }
    }
    &:nth-child(4) {
        .profile-stat-number {
            border: solid 5px #bfc51e;
            color: darken(#bfc51e, 10);
        }
    }
    @include breakpoint(small) {
        margin-bottom: 20px;
    }
}

.profile-details-container {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 16px;
    width: 100%;
    border-top: solid 1px $borderGrey;
    color: $black;
    span {
        font-weight: 600;
    }
}

.profile-detail {
    background-color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    margin: 0 0 10px 10px;
}

.edit-confirm-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.edit-confirm-message {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 5%;
    right: 3%;
    padding: 5px 10px;
    z-index: 400;
    white-space: nowrap;
    word-break: normal;
    text-align: right;
    border: solid 1px $green;
    background-color: white;
    border-radius: 4px;
    color: $green;
    font-size: 14px;
    transition: all 0.2s;
    &.visible {
        visibility: visible;
        opacity: 1;
    }
}

.avatar-loading {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
