.sidebar {
    flex: 1;
    margin-right: $mainGutter;
    border-radius: $largeBorderRadius;
    background-color: $lightGrey;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-bottom: solid 1px $borderGrey;
}

.sidebar-photo {
    width: 60px;
    border-radius: 50px;
    margin-right: 8px;
}

.sidebar-username {
    font-weight: 800;
    color: $lightBlack;
    font-size: 14px;
}

.user-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    position: relative;
    left: -15px;
    border-radius: 50px;
    padding: 4px 20px;
    background: $gradGrey;
    color: white;
    font-weight: 600;
    margin-top: 15px;
    span:first-child {
        font-size: 14px;
    }
    span:last-child {
        font-size: 16px;
    }
    &.stat-likes-received {
        background: $gradGreen;
    }
    &.stat-winning {
        background: $gradYellow;
    }
}
