.user-avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.entry-user-name {
    cursor: pointer;
}

.user-avatar-image {
    width: 35px;
    border-radius: 50%;
    z-index: 200;
    transform: scale(1.2);
}

.user-number {
    font-size: 14px;
    font-weight: 600;
    background: $gradGrey;
    color: white;
    border-radius: 50px;
    padding: 4px 11px 4px 25px;
    margin-left: -20px;
    position: relative;
    z-index: 100;
    &.you {
        background: $gradGreen;
    }
}

.user-number {
    padding-left: 28px;
}
