/*** Colors ***/
$lightBlack: #3c3c3c;
$black: #222222;
$lightGrey: #f3f3f3;
$borderGrey: #e4e4e4;
$grey: #b7b7b7;
$darkGrey: #686868;
$green: #1abb3f;
$yellow: #dcbb09;

/*** Layout ***/
$mainWidth: 1065px;
$smallBorderRadius: 4px;
$largeBorderRadius: 8px;
$mainGutter: 15px;
