/*** Colors ***/
/*** Layout ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 67.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", arial, sans-serif; }

.inner {
  width: 100%;
  max-width: 1065px;
  margin-left: auto;
  margin-right: auto; }

.main-header {
  background-color: #222222;
  height: auto;
  margin-bottom: 30px; }

.header-content {
  display: flex;
  color: white;
  padding: 11px 0;
  justify-content: space-between;
  align-items: center; }

.auth {
  display: flex;
  align-items: center;
  position: relative; }

.auth-yes .fa-chevron-down {
  color: #686868;
  margin-right: 10px;
  transition: transform 0.2s;
  cursor: pointer; }
  .auth-yes .fa-chevron-down:hover {
    color: #f3f3f3; }
  .auth-yes .fa-chevron-down.user-menu-open {
    transform: rotate(180deg);
    color: #f3f3f3; }

.user-alerts .fa-bell {
  font-size: 20px;
  margin-left: 13px; }
  .user-alerts .fa-bell.fas {
    color: #dcbb09; }
  .user-alerts .fa-bell.far {
    color: #686868; }

.user-menu {
  position: absolute;
  top: 100%;
  left: -25%;
  margin-top: 12px;
  padding: 5px 0;
  border: solid 1px #f3f3f3;
  background-color: white;
  border-radius: 4px; }
  .user-menu ul {
    list-style-type: none; }
  .user-menu a {
    display: block;
    color: #3c3c3c;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 25px; }
    .user-menu a:hover {
      color: white;
      background-color: #1abb3f; }
  .user-menu.active {
    display: block; }
  .user-menu .far,
  .user-menu .fas {
    font-size: 18px;
    margin-right: 3px;
    vertical-align: text-top; }
  .user-menu:before {
    content: "";
    position: absolute;
    top: -7px;
    right: 42px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; }

.main-container {
  display: flex;
  align-items: flex-start; }

.user-avatar {
  display: flex;
  align-items: center; }

.user-avatar-image {
  width: 35px;
  border-radius: 50%;
  z-index: 100; }

.user-number {
  font-size: 14px;
  font-weight: 600;
  background-color: #b7b7b7;
  color: white;
  border-radius: 50px;
  padding: 4px 13px 4px 26px;
  margin-left: -20px; }
  .user-number.you {
    background-color: #1abb3f; }

.sidebar {
  flex: 1;
  margin-right: 15px;
  border-radius: 8px;
  background-color: #f3f3f3; }

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-bottom: solid 1px #e4e4e4; }

.sidebar-photo {
  width: 60px;
  border-radius: 50px;
  margin-right: 8px; }

.sidebar-username {
  font-weight: 800;
  color: #3c3c3c;
  font-size: 14px; }

.user-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  position: relative;
  left: -15px;
  border-radius: 50px;
  padding: 4px 20px;
  background-color: #b7b7b7;
  color: white;
  font-weight: 600;
  margin-top: 15px; }
  .user-stat span:first-child {
    font-size: 14px; }
  .user-stat span:last-child {
    font-size: 16px; }
  .user-stat.stat-likes-received {
    background-color: #1abb3f; }
  .user-stat.stat-winning {
    background-color: #dcbb09; }

.main {
  flex: 3; }

.contest-sorter {
  border-radius: 8px;
  background-color: #f3f3f3; }

.contest {
  border-radius: 8px;
  background-color: #f3f3f3;
  margin-top: 15px; }
