/*** Colors ***/
/*** Gradients ***/
/*** Layout ***/
/*** Fonts ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  font-size: 67.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", Arial, sans-serif; }

.inner {
  width: 100%;
  max-width: 1065px;
  margin-left: auto;
  margin-right: auto; }

.button {
  border-radius: 8px;
  background-color: #eac813;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.2s; }
  .button:hover {
    background-color: #eecf29; }

.main-header {
  background-color: #222222;
  height: auto;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  z-index: 500; }

.header-content {
  display: flex;
  color: white;
  padding: 11px 0;
  justify-content: space-between;
  align-items: center; }

.user-alerts .fa-bell {
  font-size: 20px;
  margin-left: 13px; }
  .user-alerts .fa-bell.fas {
    color: #eac813; }
  .user-alerts .fa-bell.far {
    color: #686868; }

.auth {
  display: flex;
  align-items: center;
  position: relative; }

.auth-yes .fa-chevron-down {
  color: #686868;
  margin-right: 10px;
  transition: transform 0.2s;
  cursor: pointer; }
  .auth-yes .fa-chevron-down:hover {
    color: #f3f3f3; }
  .auth-yes .fa-chevron-down.user-menu-open {
    transform: rotate(180deg);
    color: #f3f3f3; }

.user-menu {
  position: absolute;
  top: 100%;
  left: -25%;
  margin-top: 12px;
  padding: 5px 0;
  border: solid 1px #f3f3f3;
  background-color: white;
  border-radius: 4px; }
  .user-menu ul {
    list-style-type: none; }
  .user-menu a {
    display: block;
    color: #3c3c3c;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 25px; }
    .user-menu a:hover {
      color: white;
      background-color: #1abb3f; }
  .user-menu.active {
    display: block; }
  .user-menu .far,
  .user-menu .fas {
    font-size: 18px;
    margin-right: 3px;
    vertical-align: text-top; }
  .user-menu:before {
    content: "";
    position: absolute;
    top: -7px;
    right: 42px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; }

.user-avatar {
  display: flex;
  align-items: center; }

.user-avatar-image {
  width: 35px;
  border-radius: 50%;
  z-index: 200;
  transform: scale(1.2); }

.user-number,
.user-winners {
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(to right, #b7b7b7, #cccccc);
  color: white;
  border-radius: 50px;
  padding: 4px 11px 4px 25px;
  margin-left: -20px;
  position: relative;
  z-index: 100; }
  .user-number.you,
  .user-winners.you {
    background: linear-gradient(to right, #1abb3f, #82d615); }

.user-number {
  padding-left: 28px; }

.user-winners {
  background: linear-gradient(to right, #eac813, #dcd509);
  z-index: 0; }

.sidebar {
  flex: 1;
  margin-right: 15px;
  border-radius: 8px;
  background-color: #f3f3f3; }

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-bottom: solid 1px #e4e4e4; }

.sidebar-photo {
  width: 60px;
  border-radius: 50px;
  margin-right: 8px; }

.sidebar-username {
  font-weight: 800;
  color: #3c3c3c;
  font-size: 14px; }

.user-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  position: relative;
  left: -15px;
  border-radius: 50px;
  padding: 4px 20px;
  background: linear-gradient(to right, #b7b7b7, #cccccc);
  color: white;
  font-weight: 600;
  margin-top: 15px; }
  .user-stat span:first-child {
    font-size: 14px; }
  .user-stat span:last-child {
    font-size: 16px; }
  .user-stat.stat-likes-received {
    background: linear-gradient(to right, #1abb3f, #82d615); }
  .user-stat.stat-winning {
    background: linear-gradient(to right, #eac813, #dcd509); }

.main-container {
  display: flex;
  align-items: flex-start; }

.main {
  flex: 3; }

.contest-sorter {
  border-radius: 8px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem; }
  .contest-sorter label {
    font-size: 12px;
    font-weight: 800;
    color: #3c3c3c; }

.contest-sort-radios,
.contest-sort-checkbox {
  display: flex;
  align-items: center; }
  .contest-sort-radios input,
  .contest-sort-checkbox input {
    margin-right: 9px;
    visibility: hidden;
    margin-left: 20px;
    cursor: pointer; }
    .contest-sort-radios input:first-child,
    .contest-sort-checkbox input:first-child {
      margin-left: 0; }
    .contest-sort-radios input:before,
    .contest-sort-checkbox input:before {
      content: "";
      visibility: visible;
      display: inline-block;
      height: 13px;
      width: 13px;
      border-radius: 18px;
      background: white;
      border: solid 2px white;
      margin-top: -3px;
      box-shadow: 0 0 0 1px #1abb3f; }
    .contest-sort-radios input:checked:before,
    .contest-sort-checkbox input:checked:before {
      background: #1abb3f; }

.contest-sort-checkbox input:before {
  border-radius: 0; }

.contest {
  border-radius: 8px;
  background-color: #f3f3f3;
  margin-top: 15px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contest-date {
  font-family: "Bitter", Times, serif;
  font-weight: 700;
  font-size: 20px;
  color: #3c3c3c;
  margin-bottom: 1.5rem; }

.contest-photo {
  width: 97%;
  border-radius: 8px; }

.more-entries-btn-cont {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer; }
  .more-entries-btn-cont .fa-chevron-down {
    color: #b7b7b7;
    transition: all 0.2s; }
  .more-entries-btn-cont:hover .fa-chevron-down {
    transform: translateY(3px);
    color: #686868; }

.more-entries-btn {
  margin-bottom: 1px; }

.follow-btn {
  position: relative;
  top: -35px;
  right: 25px;
  align-self: flex-end;
  font-size: 12px;
  font-weight: 600;
  color: #3c3c3c; }
  .follow-btn .far {
    font-size: 20px; }
  .follow-btn > * {
    vertical-align: middle;
    cursor: pointer; }
  .follow-btn:hover * {
    color: #222222; }

.entry-input {
  border-top: solid 1px white;
  padding-top: 2.2rem;
  width: 94%;
  position: relative; }
  .entry-input textarea {
    width: 100%;
    border-color: #e4e4e4;
    border-radius: 8px;
    padding: 15px;
    font-family: "Bitter", Times, serif;
    font-size: 18px;
    color: #3c3c3c;
    line-height: 1.4;
    resize: none;
    min-height: 100px;
    overflow: hidden; }
    .entry-input textarea::placeholder {
      color: #b7b7b7; }
  .entry-input .button {
    float: right; }

.character-alert {
  position: absolute;
  font-size: 14px;
  color: red; }

.entry-sorter {
  border-radius: 8px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem 1rem 0;
  align-self: flex-end; }
  .entry-sorter label,
  .entry-sorter p {
    font-size: 12px;
    font-weight: 800;
    color: #3c3c3c; }

.entry-sort-radios,
.entry-sort-checkbox {
  display: flex;
  align-items: center; }
  .entry-sort-radios input,
  .entry-sort-checkbox input {
    margin-right: 9px;
    visibility: hidden;
    margin-left: 20px;
    cursor: pointer; }
    .entry-sort-radios input:first-child,
    .entry-sort-checkbox input:first-child {
      margin-left: 0; }
    .entry-sort-radios input:before,
    .entry-sort-checkbox input:before {
      content: "";
      visibility: visible;
      display: inline-block;
      height: 13px;
      width: 13px;
      border-radius: 18px;
      background: white;
      border: solid 2px white;
      margin-top: -3px;
      box-shadow: 0 0 0 1px #1abb3f; }
    .entry-sort-radios input:checked:before,
    .entry-sort-checkbox input:checked:before {
      background: #1abb3f; }

.entry-sort-checkbox input:before {
  border-radius: 0; }

.entry {
  width: 94%;
  background-color: white;
  border-radius: 8px;
  border: solid 1px #e4e4e4;
  margin-bottom: 10px;
  transition: all 0.5s; }
  .entry.winner {
    width: 100%;
    border: solid 1px #eac813;
    margin-top: 1px; }
    .entry.winner .entry-number {
      font-size: 28px;
      background-color: #eac813;
      padding: 8px 20px; }
    .entry.winner .entry-text {
      padding-left: 85px; }

.entry-number {
  border-top-left-radius: 8px;
  background-color: #b7b7b7;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 13px;
  margin: -1px 0 0 -1px;
  display: inline-block;
  position: relative; }
  .entry-number .fa-trophy {
    position: absolute;
    font-size: 13px;
    top: 5px;
    left: 5px; }

.entry-text {
  font-family: "Bitter", Times, serif;
  font-size: 18px;
  color: #3c3c3c;
  line-height: 1.4;
  padding: 0 30px 0 60px; }

.entry-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.entry-date {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #b7b7b7;
  margin: 0 0 8px 8px; }

.entry-user-likes {
  display: flex;
  align-items: center;
  margin: 20px 8px 8px 0;
  background-color: #f3f3f3;
  border-radius: 50px;
  padding: 2px 12px; }

.entry-like-button {
  margin-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .entry-like-button .far {
    color: #686868;
    padding-right: 4px; }
  .entry-like-button:hover .far {
    color: #1abb3f; }

.entry-likes {
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  padding: 4px 11px;
  background-color: #1abb3f;
  margin-right: 35px; }

.entry-user-name {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #686868; }
