.auth {
    display: flex;
    align-items: center;
    position: relative;
}

.auth-yes {
    .fa-chevron-down {
        color: $darkGrey;
        margin-right: 10px;
        transition: transform 0.2s;
        cursor: pointer;
        &:hover {
            color: $lightGrey;
        }
        &.user-menu-open {
            transform: rotate(180deg);
            color: $lightGrey;
        }
    }
}
