/*** Colors ***/
/*** Layout ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 67.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", arial, sans-serif; }

.inner {
  width: 100%;
  max-width: 1065px;
  margin-left: auto;
  margin-right: auto; }

.main-header {
  background-color: #222222;
  height: auto; }

.header-content {
  display: flex;
  color: white;
  padding: 11px 0;
  justify-content: space-between;
  align-items: center; }

/*** Authentication ***/
.auth {
  display: flex;
  align-items: center; }

.auth-yes .fa-chevron-down {
  color: #686868;
  margin-right: 10px; }

/*** User Alerts ***/
.user-alerts .fa-bell {
  font-size: 20px;
  margin-left: 13px; }
  .user-alerts .fa-bell.fas {
    color: #dcbb09; }
  .user-alerts .fa-bell.far {
    color: #686868; }

/*** User Menu ***/
.user-menu {
  display: none; }
  .user-menu.active {
    display: block; }

.user-avatar {
  display: flex;
  align-items: center; }

.user-avatar-image {
  width: 35px;
  border-radius: 50%;
  z-index: 100; }

.user-number {
  font-size: 14px;
  font-weight: 800;
  background-color: #c6c6c6;
  border-radius: 50px;
  padding: 4px 13px 4px 26px;
  margin-left: -22px; }
  .user-number.you {
    background-color: #1abb3f; }
